/* Light Theme */
:root {
    --banner: #f0f0f0;
    --footer: #fafafa;


  --bg: #ffffff;
  --text: #000000;
  --card-bg: #f9f9f9;
  --link: #1a73e8;
  --link-hover: #1558b0;
  --shadow: rgba(0, 0, 0, 0.1);
  --accent: #007acc;
  --border-accent:#eee;
  --card-hover: #f0f0f0;

 --pill-bg: #f3f3f3;
  --text-subtitle: #777;
    --text-muted: #555;
}

/* Dark Theme */
.dark-mode {
    --footer: #0b0b18;
    --banner: #0b0b18;
  --bg: #000000;
  --text: #e6edf3;
   --pill-bg: #1d1f33;
  --card-bg: #161b22;
  --link: #90cdf4;
  --link-hover: #63b3ed;
  --shadow: rgba(0, 0, 0, 0.4);
  --accent: #1a4d99;
--border-accent: #272c31;
    --card-hover: #22262e;

  --text-subtitle: #777;
    --text-muted: #dacccc;
}

/* Global base */
html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
  transition: background 0.5s, color 0.5s;
}

* {
  transition: background 0.5s, color 0.5s, border-color 0.5s;
}