.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--banner);
  border-bottom: 1px solid var(--border-accent);
  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text);

    &:hover {
      color: var(--link-hover);
    }
  }

  .nav-links {
    display: flex;
    gap: 5rem;

    a {
      text-decoration: none;
      color: var(--text);
      font-weight: 500;
      position: relative;
  

      &:hover {
        color: var(--link-hover);
        cursor: pointer;
      }

      &.active {
        color: var(--accent);

        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 100%;
          background: #007acc;
          position: absolute;
          bottom: -4px;
          left: 0;
        }
      }
    }
  }
}
