


.hobbies {

  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 2rem;


    
    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .graphic-design {
        h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        
    }
}
    

    .photography {
        h2 {
        font-size: 2rem;
        margin-bottom: 2rem;

    }
    }

    .longboarding {
        h2 {
        font-size: 2rem;
        margin-bottom: 2rem;

    }
    }

    .cubing {
        h2 {
        font-size: 2rem;
        margin-bottom: 2rem;

    }
}
    }

